In this section we wanna be able to have a space to submit the name of the book
with the name of the genre and the language (3 spaces and 1 submit buttons)

{{#each book}}
  <p>
    {{name}}
  </p>
{{/each}}
<div>From: {{genre}} </div>
<div> From: {{language}} </div>