<h1> Here you will find the books titles we shared by alphabetical order </h1>
//here I will have a space to enter the name of the book. When I click on "submit"
it will lead me to the book page where I will have the name of the book and the 
summary. 
If I only type a first few letters of a book it will lead me to a page with a list 
of suggestions. When I click on what I want, it will bring me to the book page with the 
name and summary. 